*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
*.tgz

.idea/
.cache/
.sass-cache/
.nx/cache
.versions/
coverage/
collection/
dist/
dist-transpiled/
node_modules/
tmp/
temp/
packages/core/test-components/
packages/core/css/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env

.package.tmp.json

*.css.ts

stats.json

# stencil
packages/stencil-library/components/
packages/stencil-library/hydrate/
packages/stencil-library/loader/
packages/stencil-library/www/
.stencil/
# test apps
test-apps/**/*/build/

.npmrc

.nx/workspace-data
